body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkgray;
}

h3 {
    margin-top: 0;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid #005E8F;
    gap: 15px;
    background-color: #267caa;
    border-radius: 10px;
    margin-bottom: 10px;
}

.container>div {
    width: 500px;
    overflow-wrap: break-word; 
    word-wrap: break-word; 
    white-space: pre-wrap;
    overflow-y: auto;
    height: 90px;
    background: white;
    padding: 10px;
    border-radius: 5px;
}

.buttons {
    justify-content: center;
    align-items: center;
    width: 500px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.buttons>button {
    padding: 10px;

}