body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
      display: flex;
      flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.functionality{
      display: flex;
      flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.paragrapgh{
    border-radius: 15px;
    margin: 30px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.57);
    width: 600px;
}
.hidden{
    display: none;
}
.buttons{
display: flex;
flex-direction: row;
gap: 15px;

}
button{
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 10px;
}


.one{
    background-color: violet;
    color: navy;
}
.two{
    background-color: indigo;
    color: white;
}
.three{
    background-color: blue;
    color: burlywood
}
.four{
    background-color: green;
    color: blanchedalmond;
}
.five{
background-color: yellow;
}
.six{
    background-color: orange
}
.seven{
    background-color: red;
}