body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
      display: flex;
      flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.options{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.functionality{
      display: flex;
      flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.paragrapgh{
    border-radius: 15px;
    margin: 30px;
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.57);
    width: 600px;
    font-size: 1.1em;
}
.hideit{
    display: none;
}
.buttons{
display: flex;
flex-direction: row;
gap: 15px;

}
button{
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 10px;
}

.clicked{
    background: burlywood;
    transform: scale(1.1);
}