* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

header {
    font-size: 40px;
    margin: 20px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgba(176, 176, 176, 0.544);
    padding: 15px;
    height: 300px;
    align-items: center;
}

select {
    border-radius: 10px;
    width: 500px;
    border: none;
    font-size: 30px;
    color: black;
    padding: 10px;
}

h2 {
    color: white;
}

.output {
    margin-top: 30px;
    border-radius: 15px;
    border: 4px solid rgb(108, 154, 255);
    width: 500px;
    background-color: white;
    padding: 15px;

    h3 {
        margin-bottom: 20px;
        font-size: 35px;
    };
    p{
font-size: 25px
    };

}

button {
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;
}