body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(212, 212, 212);
}

h1 {
    text-decoration: underline;
}

.box {
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box>div {
    cursor: pointer;
    user-select: none;
    width: 200px;
    height: 200px;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px;
}

.boxes {
    width: 700px;
    height: 310px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: row;
}

.resetbutton {
    padding: 10px 30px;
    border: 2px solid rgb(141, 30, 141);
    box-shadow: 7px;
    background: rgb(141, 30, 141);
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    cursor: pointer;
    margin: 30px;
}

.resetbutton:hover {
    padding: 10px 32px;
    background: grey;
    border: 3px solid black;
}

.red {
    background-color: red;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.green {
    background-color: green;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.blue {
    background-color: blue;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.red:hover {
    border-radius: 25px;
    transform: scale(1.1);
    font-size: 30px;
    text-decoration: underline;
}

.green:hover {
    border-radius: 25px;
    transform: scale(1.1);
    font-size: 30px;
    text-decoration: underline;
}

.blue:hover {
    border-radius: 25px;
    transform: scale(1.1);
    font-size: 30px;
    text-decoration: underline;
}