body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 232, 203);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

progress {
    width: 200px;
    height: 20px;
    accent-color: #4CAF50;
    border-radius: 5px;
}

.tasks {
    background-color: gainsboro;
    padding: 15px;
    border-radius: 15px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.done {
    background: grey;
    text-decoration: line-through;
}

button {
    padding: 10px;
}

h1 {
    text-decoration: underline;
}

ul {
    display: flex;
justify-content: center;
flex-direction: column;
    list-style-type: none;
}

li {
    padding: 5px;
    margin: 10px;
    background-color: rgb(235, 235, 235);
    border-radius: 2px dotted black;
    text-decoration: none;
}