body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(255, 232, 203);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hideit{
    display: none;
}
progress {
    width: 200px;
    height: 20px;
    accent-color: #150f63;
    border-radius: 5px;
}

.tasks {
    background-color: gainsboro;
    padding: 15px;
    border-radius: 15px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.donetask {
    background: grey;
    text-decoration: line-through;
    list-style-image: url("./png/check.png" );
}
button {
    padding: 10px;
}

h1 {
    text-decoration: underline;
}
span{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}
ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

li {
    border-radius: 5px;
    list-style-type: circle;
    padding: 5px;
    margin: 10px;
    background-color: rgb(235, 235, 235);
    border-radius: 2px dotted black;
    text-decoration: none;
}