body {
    margin: 0;
    padding: 0;
    background-color: #b6b6b6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.red{
    background-color: rgb(251, 36, 36);
}
.yellow{
    background-color: rgb(216, 216, 0);
}
.green{
    background-color: rgb(3, 200, 3);
}
.blue{
    background-color: rgb(42, 42, 255);
}
.leader{
    transform: scale(1.1);
    margin: 0px 15px;

}
h3{
    margin-bottom: 25px;
}
button{
    padding: 10px 15px;
    background: grey;
    font-size: 1.5em;
    font-weight: bold;
}

.box>div{
    border-radius: 15px;
    width: 200px;
    height: 200px;
}
.box>p{
    text-align: center;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;


}