body {
    margin: 0;
    padding: 0;
    background-color: #b6b6b6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.red{
    background-color: rgb(251, 36, 36);
    transition-property: all;
    transition-duration: o.5s;
    transition-timing-function: ease-in-out;
}
.yellow{
    background-color: rgb(216, 216, 0);
     transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.green{
    background-color: rgb(3, 200, 3);
     transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.blue{
    background-color: rgb(42, 42, 255);
     transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.crown{
    border: 3px solid gold;
    margin: 0px 15px;
     transform: scale(1.1);
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    margin-bottom: 25px;
}
button{
    padding: 10px 15px;
    background: grey;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 7px;
}

.box>div{
    border-radius: 15px;
    width: 200px;
    height: 200px;
}
.box>p{
    text-align: center;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}