body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
    
}

.imagecontainer{
    justify-content: center;
    align-items: center;
   gap: 15px;
    display: flex;
    flex-direction: column;
}
.imagebox{
    width: 200px;
    height: 200px;
    border-radius: 20px;

}
button{
    font-weight: bold;
    font-size: 1.1em;
    border-radius: 5px;
    background: grey;
    padding: 10px 15px;
    margin: 5px 10px;
}

.red{
    background: rgb(255, 35, 35);
}
.blue{
    background: rgb(42, 42, 255);
}
.purple{
    background: rgb(167, 2, 167);
}
.green{
    background: rgb(2, 178, 2);
}
.orange{
    background: rgb(250, 106, 10);
}
